{% extends 'base.html.twig' %}
    {% block title %}Article{% endblock %}
{% block body %}
    <table border="1">
        <caption> {{ 'Table'|trans }} </caption>
        <tr style="font-weight: bold">
            <td> {{ 'label.article.name'|trans }} </td>
            <td> {{ 'label.article.description'|trans }} </td>
            <td> {{ 'label.article.created_at'|trans }} </td>
            <td></td>
        </tr>
        <tr>
            <td>{{ article.name }}</td>
            <td>{{ article.description }}</td>
            <td>{{ article.createdAt|date('Y-m-d H:i:s') }}</td>
            <td>
                <a href="{{ path('article_edit', {'id': article.id}) }}"> {{ 'Edit'|trans }} </a>
                <a href="{{ path('article_delete', {'id': article.id}) }}"> {{ 'Delete'|trans }} </a>
                <a href="{{ path('article_index') }}"> {{ 'Back'|trans}} </a>
            </td>
        </tr>
    </table>
{% endblock %}
